<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/template-driven-forms']"
          routerLinkActive="active"
          class="nav-link"
        >
          Template Driven Form
        </a>
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/reactive-forms']"
          routerLinkActive="active"
          class="nav-link"
        >
          Reactive Form
        </a>
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/products']"
          routerLinkActive="active"
          class="nav-link"
        >
          Products
        </a>
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/nonsense']"
          routerLinkActive="active"
          class="nav-link"
        >
          404
        </a>
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/mymodule']"
          routerLinkActive="active"
          class="nav-link"
        >
          My Module
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/users']" routerLinkActive="active" class="nav-link">
          Users
        </a>
      </li>
    </ul>
  </div>
</nav>
