<p>child works!</p>
{{ childMessage | lowercase }} <br />
{{ price | currency: "INR" }} <br />
{{ date | date: "shortDate" }} <br />
<button (click)="sendMessage()">Send Message</button>
number: {{ number | ceil: 10:20:30 }} <br />
