<table class="table table-dark">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Website</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.website }}</td>
      <td>View</td>
    </tr>
  </tbody>
</table>
<form #form="ngForm" (submit)="registerPost(form.value)">
  <label for="">User id: </label>
  <input type="text" [(ngModel)]="userId" name="userId" />
  <br />
  <label for="">title: </label>
  <input type="text" [(ngModel)]="title" name="title" />
  <br />
  <label for="">body: </label>
  <input type="text" [(ngModel)]="body" name="body" />

  <br />
  <button type="submit">Submit</button>
</form>
