<div class="container">
  <div class="row">
    <div class="col-3">
      <ul>
        <li [routerLink]="['first']" routerLinkActive="router-link-active">
          First
        </li>
        <li [routerLink]="['second']" routerLinkActive="router-link-active">
          Second
        </li>
      </ul>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
