<div class="container">
  <div class="row">
    <div class="col-8">
      <p>{{ datemsg }}</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="">Email</label>
          <input type="text" class="form-control" formControlName="email" />
          <div *ngIf="submitted && f['email'].errors" class="text-danger">
            <div *ngIf="f['email'].errors.required">Email is required</div>
            <div *ngIf="f['email'].errors.email">Enter valid email</div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
          <div *ngIf="submitted && f['password'].errors" class="text-danger">
            <div *ngIf="f['password'].errors.required">
              PasswordPrompt is required
            </div>
            <div *ngIf="f['password'].errors.minlength">
              Password should be min 6 letters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-success">Login</button>
          <button class="btn btn-danger" (click)="onReset()">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
