<app-nav-bar></app-nav-bar>
<!-- <app-first-component *ngIf="showFirst"></app-first-component>
<button (click)="toggleFirst()">toggle first component</button> -->
<!-- 
<app-parent></app-parent>
<app-pipe-calculator></app-pipe-calculator> -->

<!-- <select name="" id="" [(ngModel)]="canTalk">
  <option value="true">Is able to talk</option>
  <option value="false">Is not able to talk</option>
</select>

<p *ngIf="canTalk == 'false'">You selected an animal</p>
<p *ngIf="canTalk == 'true'">You selected a human</p> -->

<!-- <ul>
  <li *ngFor="let number of numbers">{{ number }}</li>
</ul> -->

<!-- {{ users | json }} -->
<!-- <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name | uppercase }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
    </tr>
  </tbody>
</table> -->
<!-- <div [ngClass]="{ 'shadowed-text': applyShadow }">
  My Angular Work
</div>
<p appHighlight>This is the text altered by a custom directivev</p>
<button (click)="toggleShadow()">Toggle Shadow</button>
<app-products></app-products> -->
<!-- <app-user-registration></app-user-registration>
<app-reactive></app-reactive> -->
<router-outlet></router-outlet>
