<div class="container">
  <br />
  <div class="row">
    <div class="col-md-6">
      <select name="" id="" class="form-control" [(ngModel)]="filter">
        <option value="" selected>Filter By</option>
        <option value="title">Title</option>
        <option value="price">Price</option>
      </select>
      <br />
    </div>
    <div class="col-md-6">
      <select name="" id="" class="form-control" [(ngModel)]="colClasses">
        <option value="" selected>Select Layout</option>
        <option value="col-md-3 product">4 columns</option>
        <option value="col-md-4 product">3 columns</option>
        <option value="col-md-6 product">2 columns</option>
      </select>
      <br />
    </div>
  </div>
  <div class="row" *ngIf="filter === 'title'">
    <div class="col-md-12">
      <input
        type="text"
        class="form-control"
        placeholder="Search.."
        [(ngModel)]="key"
      />
    </div>
  </div>
  <div class="row" *ngIf="filter === 'price'">
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Min. Price"
        [(ngModel)]="min"
      />
    </div>
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Max. Price"
        [(ngModel)]="max"
      />
    </div>
  </div>
  <div class="row">
    <div
      *ngFor="let product of products | productfilter: filter:key:min:max"
      [ngClass]="colClasses"
      [ngStyle]="{ background: bgcolor }"
    >
      <div
        class="product-container text-center"
        [ngStyle]="{ background: product.new ? 'grey' : productbg }"
      >
        <p class="title font-weight-bold">{{ product.title | uppercase }}</p>
        <img src="{{ product.image }}" alt="" height="120px" />
        <p>{{ product.description }}</p>
        <h4 style="text-decoration: line-through;">
          {{ product.price | currency }}
        </h4>
        <H3>{{ product.price | discount: product.discount | currency }}</H3>
        <a [routerLink]="['/product', product.id]" class="btn btn-info">View</a>
      </div>
    </div>
  </div>
  <div class="row">
    <input type="text" [(ngModel)]="productbg" />
  </div>
</div>
