<h4>User Registration</h4>
<div class="alert" [ngClass]="alertClass" *ngIf="message">
  {{ message }}
</div>
<p>{{ datemsg }}</p>
<form #form="ngForm" (submit)="registerUser(form.value)">
  <label for="">Last name: </label>
  <input type="text" [(ngModel)]="lname" name="lname" />
  <br />
  <label for="">First name: </label>
  <input type="text" [(ngModel)]="fname" name="fname" />
  <br />
  <label for="">Email name: </label>
  <input type="text" [(ngModel)]="email" name="email" />
  <br />
  <label for="">Password: </label>
  <input type="text" [(ngModel)]="password" name="password" />
  <br />
  <button type="submit">Submit</button>
</form>
<!-- <input type="text" [(ngModel)]="fname" /> -->
