<div class="container">
  <div class="row">
    <div class="col-3">
      <ul>
        <li [routerLink]="['second']" routerLinkActive="router-link-active">
          Second
        </li>
        <li [routerLink]="['pipes']" routerLinkActive="router-link-active">
          Pipes
        </li>
        <li [routerLink]="['parent']" routerLinkActive="router-link-active">
          Parent
        </li>
      </ul>
    </div>
    <div class="col-9">
      <h1>Welcome {{ name }}</h1>
      <p>first-component works!</p>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
        reprehenderit sequi ipsum dignissimos {{ name }} asperiores aperiam cum
        assumenda, porro quidem qui. Perferendis ipsam eaque ratione consequatur
        debitis provident ipsum officia dolores.
      </div>
      <!-- attribute -->
      <input type="text" value="{{ name }}" />
      <!-- property -->
      <input type="text" [value]="name" />
      <!-- two way binding -->
      <input type="text" [(ngModel)]="name" />
      <input type="text" [(ngModel)]="a" />
      <input type="text" [(ngModel)]="b" />
      a = {{ a }}, b = {{ b }}
      <!-- <input type="text" (keyup)="inputHandler($event)" /> -->
      <button (click)="greetUser()">Click me</button>
      <!-- child route  -->
      <h2>Children of this route</h2>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
